nbproject/
git/

secret.json
admin/secrets.js
admin/js/cortex.js
cortex.js

*.swp
*.log

nbactions.xml
nb-configuration.xml
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
